body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}
body{background-color: #deb887;}
li{
    color: bisque;
}
h1{color: rgb(160, 232, 246); ; 
text-align: center;   }
p{
    color: bisque;
}
